@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #f1f2f3;
}

body {
  font-family: "Gemunu Libre", sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

/***************************************************
                    CARDS
***************************************************/
.card {
  width: 320px;
  height: 400px;
  margin: 0.1em;
  perspective: 1500px;
}
.card__content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.card__input {
  display: none;
}
.card__input:checked ~ .card__content {
  transform: rotateY(180deg);
}
.card__image, .card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.card__image {
  background-size: cover;
  background-position: center center;
}
.card__front {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}
.card__heading {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  font-weight: 900;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
}
.card__back {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  transform: rotateY(180deg);
  background-color: #0096c7;
  background-image: linear-gradient(160deg, #0096c7 0%, #caf0f8 100%);
}
.card__back-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}
.card__back-description {
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.4em;
  overflow: hidden;
  color: #FEFEDF;
}
.card__back-price {
  font-weight: 900;
  color: #0096c7;
  font-size: 1.5em;
  align-self: center;
  background-color: #FEFEDF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  cursor: pointer;
}
.card__back-price:before {
  content: "";
  border-color: transparent #FEFEDF transparent transparent;
  border-style: solid;
  border-width: 1rem 1rem 1rem 0rem;
  left: 0px;
  position: absolute;
  top: 0px;
  transform: translate(-100%, 0px);
}
.card__back-price:after {
  content: "";
  background: #0096c7;
  border-radius: 9999rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(-0.5rem, -50%);
  height: 0.5rem;
  width: 0.5rem;
}
.card__back-button {
  align-self: center;
  cursor: pointer;
  padding: 0 1.5em;
  height: 3em;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.card__back-button:hover {
  border-radius: 100%;
  box-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
}
.card__button {
  align-self: center;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  min-width: 3em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  background-color: #0096c7;
  background-image: linear-gradient(160deg, #0096c7 0%, #caf0f8 100%);
}
.card__button:hover {
  border-radius: 100%;
  box-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
}

/***************************************************
                       HEADER
***************************************************/
.main-header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 7em;
  flex-direction: column;
  background-color: #0096C7;
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: transparent;
}

/***************************************************
                       NAV BAR
***************************************************/
.nav-bar {
  background-color: transparent;
  margin-bottom: 0.2em;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.nav-bar__nav-item {
  text-align: center;
}
.nav-bar__nav-link {
  display: block;
  background-color: transparent;
  color: black;
  padding: 0.5em 2em;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-bar__nav-link:hover {
  color: whitesmoke;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
}

/***************************************************
                  SEARCH BAR
***************************************************/
.search-bar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.search-bar__form-container {
  padding: 0.8em;
  background-color: transparent;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.search-bar__logo-container {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 90%;
  width: 20em;
  background-color: transparent;
}
.search-bar__form-label {
  display: none;
}
.search-bar__form-search {
  outline: none;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  background: #ededed url(/img/busqueda/search-icon.png) no-repeat 6px center;
  border: solid 1px #ccc;
  width: 15em;
  height: 1.8em;
  border-radius: 10em;
  transition: all 0.5s;
  display: block;
}
.search-bar__form-search:focus {
  width: 20em;
  background: #fff;
}
.search-bar__form-submit {
  background-color: whitesmoke;
  color: black;
  font-weight: 600;
  border-radius: 8em;
  width: 6em;
  height: 2.4em;
  border: solid 1px #00b4d8;
  margin-right: 14%;
  margin-left: 0.5%;
  text-transform: uppercase;
}
.search-bar__form-submit:hover {
  color: white;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
}
.search-bar__carrito-container {
  flex: 0 0 3em;
  color: transparent;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

/***************************************************
                  MENU TOGGLE
***************************************************/
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.menu-toggle__pan-arriba, .menu-toggle__medallon, .menu-toggle__pan-abajo {
  display: block;
  background-color: #333;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  margin: 0 auto;
}
.menu-toggle__pan-arriba {
  top: 0.8em;
}
.menu-toggle__medallon {
  top: 50%;
  margin-top: -0.15em;
}
.menu-toggle__pan-abajo {
  bottom: 0.8em;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle {
    display: block;
  }

  .nav-bar {
    display: none;
  }
  .nav-bar__nav-list {
    flex-direction: column;
  }

  .search-bar__form-search {
    width: 6em;
  }
  .search-bar__form-search:focus {
    width: 8em;
  }
}
.section-cards {
  background-color: #f1f2f3;
  padding: 1em;
  margin-top: 7em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  margin-top: 1.5em;
}

.main-footer {
  display: flex;
  width: 100%;
  height: 22em;
  margin-top: 2em;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #0096c7;
  background-image: linear-gradient(160deg, #0096c7 0%, #caf0f8 100%);
}
.main-footer__features-container {
  background-color: transparent;
  width: 100%;
  height: 15em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.main-footer__info-container {
  background-color: #0096C7;
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}
.main-footer__info {
  color: black;
  width: 30em;
}
.main-footer__separador {
  background-color: transparent;
  width: 0.4em;
  height: 3em;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.main-footer__social-media {
  background-color: transparent;
  width: 30em;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.main-footer__social-media-link {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.main-footer-card {
  width: 18em;
  height: 12em;
  margin: 0.1em;
  perspective: 1000px;
}
.main-footer-card__content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.main-footer-card__input {
  display: none;
}
.main-footer-card:hover .main-footer-card__content {
  transform: rotateY(180deg);
}
.main-footer-card__image, .main-footer-card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.main-footer-card__image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #0096c7;
}
.main-footer-card__front {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}
.main-footer-card__back {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  transform: rotateY(180deg);
  background-color: #0096c7;
  background-image: linear-gradient(160deg, #0096c7 0%, #caf0f8 100%);
}
.main-footer-card__back-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}
.main-footer-card__back-description {
  font-size: 2em;
  font-weight: 900;
  line-height: 1.4em;
  overflow: hidden;
  color: #FEFEDF;
  text-align: center;
}

@media (max-width: 1024px) {
  .main-footer__features-container {
    gap: 0.5em;
  }

  .main-footer-card {
    width: 15em;
    height: 9em;
  }
  .main-footer-card__back-description {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  .main-footer__features-container {
    gap: 0.4em;
  }

  .main-footer-card {
    width: 12em;
    height: 8em;
  }

  .main-footer__social-media {
    width: 25em;
    height: 4em;
    gap: 1em;
  }
  .main-footer__social-media__social-media-link {
    width: 1.5em;
    height: 1.5em;
  }

  .main-footer__info {
    width: 25em;
  }
}
@media (max-width: 425px) {
  .main-footer__features-container {
    gap: 0.4em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .main-footer-card {
    width: 10em;
    height: 7em;
  }

  .main-footer__social-media {
    width: 15em;
    height: 2em;
    gap: 0.5em;
  }
  .main-footer__social-media__social-media-link {
    width: 0.8em;
    height: 0.8em;
  }

  .main-footer__features-container {
    flex-wrap: wrap;
  }

  .main-footer__info-container {
    flex-wrap: wrap-reverse;
    height: 6em;
  }

  .main-footer__separador {
    display: none;
  }

  .main-footer__info {
    width: 10em;
  }
}
@media (max-width: 320px) {
  .main-footer {
    height: 8em;
    background-color: transparent;
  }
  .main-footer__info-container {
    margin-top: 0em;
  }

  .main-footer__features-container {
    display: none;
  }

  .main-footer__info-container {
    flex-wrap: wrap-reverse;
    height: 8em;
  }

  .main-footer__separador {
    display: none;
  }

  .main-footer__info {
    width: 15em;
  }
}