@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Gemunu Libre", sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

/***************************************************
                    CARDS
***************************************************/
.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  display: block;
  position: relative;
  isolation: isolate;
  color: #fcfdfe;
  background-color: transparent;
  border-radius: 5px;
}
.card__article {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  box-shadow: #338dff 0px 0px 0px 3px, #33bbff 0px 0px 0px 6px, #33d7ff 0px 0px 0px 9px, #33ecff 0px 0px 0px 12px, #33ffec 0px 0px 0px 15px;
}
.card:hover .card__article, .card:focus .card__article {
  transform: rotateY(180deg);
}
.card__image, .card__behind, .card__content {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.card__image {
  background-size: cover;
  height: 200px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);
  clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);
  background-position: center;
}
.card__content {
  position: absolute;
  bottom: 0;
  padding: 3em 1em 1em;
  height: 230px;
  width: 100%;
  z-index: -1;
}
.card__behind {
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  padding: 3em 1em 1em;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotateY(180deg);
  border: slateblue 1px solid;
  border-radius: 5px;
  box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.card__description {
  color: slateblue;
  font-size: xx-large;
  text-align: center;
  padding-top: 1em;
}
.card__heading {
  font-size: xx-large;
  padding: 1.5em;
}
.card:nth-child(10n+1) .card__content {
  background-image: linear-gradient(to top, #b429f9, #26c5f3);
}
.card:nth-child(10n+2) .card__content {
  background-image: linear-gradient(to top, #af1239, #cce269);
}
.card:nth-child(10n+3) .card__content {
  background-image: linear-gradient(to top, #0b3866, #3ddab2);
}
.card:nth-child(10n+4) .card__content {
  background-image: linear-gradient(to top, #f40752, #7c65a9);
}
.card:nth-child(10n+5) .card__content {
  background-image: linear-gradient(to top, #1c3b41, #69d449);
}
.card:nth-child(10n+6) .card__content {
  background-image: linear-gradient(to top, #0a5df8, #ed2d53);
}
.card:nth-child(10n+7) .card__content {
  background-image: linear-gradient(to top, #661069, #30d26e);
}
.card:nth-child(10n+8) .card__content {
  background-image: linear-gradient(to top, #702b19, #cec360);
}
.card:nth-child(10n+9) .card__content {
  background-image: linear-gradient(to top, #034a66, #ced11a);
}
.card:nth-child(10n+10) .card__content {
  background-image: linear-gradient(to top, #ec458d, #474ed7);
}
@media (min-width: 1024px) {
  .card {
    min-width: 230px;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 240px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 100%;
    height: 200px;
  }
  .card__article {
    display: flex;
  }
  .card__image {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
  .card__content {
    top: 0;
    padding-left: 45%;
  }
  .card__behind {
    background-size: 50%;
    background-position: top;
  }
  .card__description {
    font-size: large;
    text-align: center;
    padding-top: 2em;
  }
}

/***************************************************
                       HEADER
***************************************************/
.main-header {
  display: flex;
  flex-direction: column;
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: white;
}

/***************************************************
                       NAV BAR
***************************************************/
.nav-bar {
  background-color: #caf0f8;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.nav-bar__nav-item {
  text-align: center;
}
.nav-bar__nav-link {
  display: block;
  background-color: #caf0f8;
  color: black;
  padding: 0.5em 2em;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-bar__nav-link:hover {
  color: whitesmoke;
  font-weight: bold;
  background-color: #0096c7;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/***************************************************
                  SEARCH BAR
***************************************************/
.search-bar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.search-bar__form-container {
  padding: 0.8em;
  background-color: #48cae4;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.search-bar__logo-container {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 90%;
  width: 15em;
  background-color: #48cae4;
}
.search-bar__logo-container:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.search-bar__form-label {
  display: none;
}
.search-bar__form-search {
  outline: none;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  background: #ededed url(/img/busqueda/search-icon.png) no-repeat 6px center;
  border: solid 1px #ccc;
  width: 10em;
  height: 1.5em;
  border-radius: 10em;
  transition: all 0.5s;
  display: block;
}
.search-bar__form-search::-webkit-search-decoration, .search-bar__form-search::-webkit-search-cancel-button {
  display: none;
}
.search-bar__form-search:focus {
  width: 40em;
  background: #fff;
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}
.search-bar__form-submit {
  background-color: whitesmoke;
  color: #03045e;
  border-radius: 8em;
  width: 6em;
  height: 2em;
  border: solid 1px #00b4d8;
  margin-right: 14%;
  margin-left: 0.5%;
  text-transform: uppercase;
}
.search-bar__form-submit:hover {
  color: whitesmoke;
  font-weight: bold;
  background-color: #0096c7;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.search-bar__carrito-container {
  flex: 0 0 3em;
  color: transparent;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #48cae4;
}

/***************************************************
                  MENU TOGGLE
***************************************************/
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
  background-color: #48cae4;
  width: 100%;
  height: 100%;
}
.menu-toggle__pan-arriba, .menu-toggle__medallon, .menu-toggle__pan-abajo {
  display: block;
  background-color: #333;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  margin: 0 auto;
}
.menu-toggle__pan-arriba {
  top: 0.8em;
}
.menu-toggle__medallon {
  top: 50%;
  margin-top: -0.15em;
}
.menu-toggle__pan-abajo {
  bottom: 0.8em;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle {
    display: block;
  }

  .nav-bar {
    display: none;
  }
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.section-cards {
  background-color: #f1f2f3;
  padding: 1em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}
.main-footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-div {
  margin-top: 1em;
  height: 8em;
  background-color: #0096c7;
}
.footer-div__foot-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.footer-div__foot-link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4em;
  height: 3em;
  width: 8em;
  margin-top: 1em;
  display: block;
  padding: 2em 2em;
  cursor: pointer;
  border-radius: 100px;
}
.footer-div__foot-link:hover {
  background-color: #caf0f8;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.footer-div__copyright {
  text-align: center;
  padding-top: 0.5em;
}