
/***************************************************
                       HEADER
***************************************************/        

.main-header{
    display: flex;
    flex-direction: column;
}

#menu {
    display: none;


    &:checked + .nav-bar {
        display: block;
    }

    &:checked ~ .search-bar .menu-toggle__label {
        background-color: white;
        
    }
}
/***************************************************
                       NAV BAR
***************************************************/        

.nav-bar{
    background-color: #caf0f8;
    
    &__nav-list{
        display: flex;
        list-style-type: none;
        justify-content: center;
    }

    &__nav-item{
        text-align: center;
        
    }

    &__nav-link{
        display: block;
        background-color: #caf0f8;
        color: black;
        padding: 0.5em 2em;
        text-decoration: none;
        font-size: 1.5em;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__nav-link:hover{
        color: whitesmoke;
        font-weight: bold;
        background-color: #0096c7;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

}

/***************************************************
                  SEARCH BAR
***************************************************/        

.search-bar{
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    &__form-container{
        padding: 0.8em;
        background-color: #48cae4;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    &__logo-container{
        background-repeat: no-repeat;
        background-position: left;
        background-size: 90%;
        width: 15em;
        background-color: #48cae4;

        &:hover{
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }
    }

    &__form-label{
        display: none;
    }

    &__form-search {
        outline: none;
        box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
        background: #ededed url(/img/busqueda/search-icon.png) no-repeat 6px center;
        border: solid 1px #ccc;
        width: 10em;
        height: 1.5em;
        border-radius: 10em;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        display: block;
        
    
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button {
            display: none; 
        }
        
        &:focus {
            width: 40em;
            background: #fff;
            box-shadow: 0 0 5px rgba(109,207,246,.5);
        }
    }

    &__form-submit{
        background-color: whitesmoke;
        color: #03045e;
        border-radius: 8em;
        width: 6em;
        height: 2em;
        border: solid 1px #00b4d8;
        margin-right: 14%;
        margin-left: 0.5%;
        text-transform: uppercase;

        &:hover{
            color: whitesmoke;
            font-weight: bold;
            background-color: #0096c7;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
    }

    &__carrito-container{
        flex: 0 0 3em;
        color: transparent;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #48cae4;

    }

}
/***************************************************
                  MENU TOGGLE
***************************************************/        

.menu-toggle{
    display: none;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;

    &__label{
        display: block;
        background-color: #48cae4;
        width: 100%;
        height: 100%;
    }

    &__pan-arriba,
    &__medallon,
    &__pan-abajo{
        display: block;
        background-color: #333;
        height: .2em;
        position: absolute;
        left: .5em;
        right: .5em;
        margin: 0 auto;
    }

    &__pan-arriba{
        top: .8em;
    }

    &__medallon{
        top: 50%;
        margin-top: -.15em;
    }

    &__pan-abajo{
        bottom: .8em;
    }

}

@media (max-width: 768px) {
    
    .main-header {
        flex-direction: column-reverse;
    }

    .menu-toggle{
        display: block;
    }

    .nav-bar{
        display: none;

        &__nav-list{
            flex-direction: column;
        }

    }
}

