
/***************************************************
                       HEADER
***************************************************/        

.main-header{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    flex-direction: column;
    background-color: #0096c7;
    background-image: linear-gradient(160deg, #0096c7 0%, #caf0f8 100%);
}

#menu {
    display: none;


    &:checked + .nav-bar {
        display: block;
    }

    &:checked ~ .search-bar .menu-toggle__label {
        background-color: transparent;
        
    }
}
/***************************************************
                       NAV BAR
***************************************************/        

.nav-bar{
    background-color: transparent;
    
    &__nav-list{
        display: flex;
        list-style-type: none;
        justify-content: center;
    }

    &__nav-item{
        text-align: center;
        
    }

    &__nav-link{
        display: block;
        background-color: transparent;
        color: black;
        padding: 0.5em 2em;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__nav-link:hover{
        color: whitesmoke;
        text-shadow:
        0 0 5px rgba(0,178,255,1),
        0 0 10px rgba(0,178,255,1),
        0 0 20px rgba(0,178,255,1),
        0 0 40px rgba(38,104,127,1),
        0 0 80px rgba(38,104,127,1),
        0 0 90px rgba(38,104,127,1),
        0 0 100px rgba(38,104,127,1),
        0 0 140px rgba(38,104,127,1),
        0 0 180px rgba(38,104,127,1);
    }

}

/***************************************************
                  SEARCH BAR
***************************************************/        

.search-bar{
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    &__form-container{
        padding: 0.8em;
        background-color: transparent;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }

    &__logo-container{
        background-repeat: no-repeat;
        background-position: left;
        background-size: 90%;
        width: 20em;
        background-color: transparent;
    }

    &__form-label{
        display: none;
    }

    &__form-search {
        outline: none;
        box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
        background: #ededed url(/img/busqueda/search-icon.png) no-repeat 6px center;
        border: solid 1px #ccc;
        width: 10em;
        height: 1.5em;
        border-radius: 10em;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        display: block;
        
        &:focus {
            width: 20em;
            background: #fff;
        }
    }

    &__form-submit{
        background-color: whitesmoke;
        color: black;
        font-weight: 600;
        border-radius: 8em;
        width: 6em;
        height: 2em;
        border: solid 1px #00b4d8;
        margin-right: 14%;
        margin-left: 0.5%;
        text-transform: uppercase;

        &:hover{
            color: white;
            text-shadow:
                0 0 5px rgba(0,178,255,1),
                0 0 10px rgba(0,178,255,1),
                0 0 20px rgba(0,178,255,1),
                0 0 40px rgba(38,104,127,1),
                0 0 80px rgba(38,104,127,1),
                0 0 90px rgba(38,104,127,1),
                0 0 100px rgba(38,104,127,1),
                0 0 140px rgba(38,104,127,1),
                0 0 180px rgba(38,104,127,1);
        }
    }

    &__carrito-container{
        flex: 0 0 3em;
        color: transparent;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        cursor: pointer;        
    }

}
/***************************************************
                  MENU TOGGLE
***************************************************/        

.menu-toggle{
    display: none;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;

    &__label{
        display: block;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

    &__pan-arriba,
    &__medallon,
    &__pan-abajo{
        display: block;
        background-color: #333;
        height: .2em;
        position: absolute;
        left: .5em;
        right: .5em;
        margin: 0 auto;
    }

    &__pan-arriba{
        top: .8em;
    }

    &__medallon{
        top: 50%;
        margin-top: -.15em;
    }

    &__pan-abajo{
        bottom: .8em;
    }

}

@media (max-width: 768px) {
    
    .main-header {
        flex-direction: column-reverse;
    }

    .menu-toggle{
        display: block;
    }

    .nav-bar{
        display: none;

        &__nav-list{
            flex-direction: column;
        }

    }

    .search-bar__form-search {
        width: 4em;
        &:focus {
            width: 5em;
        }
    }
}

