/***************************************************
                    CARDS
***************************************************/        

.card {
    outline: none;
    flex-grow: 1;
    width: 220px;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    display: block;
    position: relative;
    isolation: isolate;
    color: #fcfdfe;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 2em 2em 3em rgba(0,0,0,.2);
    
    &__article{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all .4s ease;
        -moz-transition: all .4s ease;
        -webkit-transition: all .4s ease;
        transform-style: preserve-3d;
        transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
        
    }
    

    &:hover &__article,
    &:focus &__article {
        transform: rotateY(180deg);
                
    }

    &__image,
    &__behind,
    &__content{
        backface-visibility: hidden;
        transition: all .4s ease;
        -moz-transition: all .4s ease;
        -webkit-transition: all .4s ease;
    }

    &__image {
        background-size: cover;
        height: 200px;
        -webkit-clip-path: polygon(0 0 , 100% 0, 100% 170px, 0 200px);
        clip-path: polygon(0 0 , 100% 0, 100% 170px, 0 200px);
        background-position: center;
        
    }

    &__content {
        position: absolute;
        bottom: 0;
        padding: 3em 1em 1em;
        height: 230px;
        width: 100%;
        z-index: -1;
        
    }

    &__behind{
        background-image: url(/img/logo/logo_small.png);
        background-repeat: no-repeat;
        background-size: 95%;
        position: absolute;
        bottom: 0;
        padding: 3em 1em 1em;
        height: 100%;
        width: 100%;
        z-index: -1;
        transform: rotateY(180deg);
        box-shadow: 1em 1em 2em rgba(0,0,0,.2);
        border: slateblue 1px solid;
        border-radius: 5px;
    }
    
    &__description{
        color: slateblue;
        font-size: xx-large;
        text-align: center;
        padding-top: 1em;
    }

    &__heading{
        font-size: xx-large;
        padding: 1.5em;
    }

    &:nth-child(10n + 1) &__content { 
        background-image: linear-gradient(to top, #b429f9, #26c5f3);
    }

    &:nth-child(10n + 2) &__content {
        background-image: linear-gradient(to top, #af1239, #cce269);
    }

    &:nth-child(10n + 3) &__content {
        background-image: linear-gradient(to top, #0b3866, #3ddab2);
    }

    &:nth-child(10n + 4) &__content {
        background-image: linear-gradient(to top, #f40752, #7c65a9);
    }
        
    &:nth-child(10n + 5) &__content {
        background-image: linear-gradient(to top, #1c3b41, #69d449);
    }

    &:nth-child(10n + 6) &__content {
        background-image: linear-gradient(to top, #0a5df8, #ed2d53);
    }

    &:nth-child(10n + 7) &__content {
        background-image: linear-gradient(to top, #661069, #30d26e);
    }

    &:nth-child(10n + 8) &__content {
        background-image: linear-gradient(to top, #702b19, #cec360);
    }

    &:nth-child(10n + 9) &__content {
        background-image: linear-gradient(to top, #034a66, #ced11a);
    }

    &:nth-child(10n + 10) &__content {
        background-image: linear-gradient(to top, #ec458d, #474ed7);
    }

    @media (min-width: 1024px) {
        &{
            min-width: 230px;
        }

    }

    @media (min-width: 1280px) {
        &{
            min-width: 240px;
        }

    }

    @media (min-width: 426px) and (max-width: 768px) {
        &{
            min-width: 100%;
            height: 200px;
        }
        &__article{
            display: flex;
        }
        &__image{
            width: 40%;
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        }
        &__content {
            top: 0;
            padding-left: 45%;
        }
        &__behind {
            background-size: 50%;
            background-position: top;
        }
        &__description{
            font-size: large;
            text-align: center;
            padding-top: 2em;
        }
    }

}






